@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --GrayBlue: hsl(246, 25%, 77%);
  --Blue: hsl(248, 32%, 49%);
}

@layer base {
  input {
    @apply text-sm placeholder-slate-500 font-semibold px-6 py-4 w-full rounded-md outline outline-1 outline-slate-300 focus:outline-[color:var(--Blue)];
  }
  small {
    @apply text-red-500 text-xs italic flex justify-end mt-2;
  }
}

@layer components {
  .form-controls{
    @apply mb-4
  }
}
